apiVersion: apps/v1
kind: Deployment
metadata:
  name: billing-deploy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: billing
  template:
    metadata:
      labels:
        app: billing
    spec:
      containers:
      - name: billing
        image: service-billing:v1
        imagePullPolicy: Never
        ports:
        - containerPort: 5000
        env:
        - name: INVENTORY_API_URL
          value: "http://inventory-service:5000" # Magie K8s !
---
apiVersion: v1
kind: Service
metadata:
  name: billing-service
spec:
  selector:
    app: billing
  ports:
    - port: 5000
      targetPort: 5000