apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory-deploy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: inventory
  template:
    metadata:
      labels:
        app: inventory
    spec:
      containers:
      - name: inventory
        image: service-inventory:v1
        imagePullPolicy: Never
        ports:
        - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: inventory-service
spec:
  selector:
    app: inventory
  ports:
    - port: 5000 # Port interne au cluster
      targetPort: 5000 # Port du conteneur Flask
